@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
.example-fill-remaining-space{
    margin: 0 auto;
    }
    .table-section{
        width: 50%;
        float: left;
        text-align: center; 
    }
    .details-section{
        width: 50%;
        
        float: left;
    }

    th, td {
        border: 1px solid black;
    }